[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
naucse = "python -m naucse"
serve = "python -m naucse serve"
freeze = "python -m naucse freeze"

[packages]
naucse = {git = "https://github.com/lubojr/naucse.git", editable = true, ref = "813d9676704121171cfcb631d2376363cfe7e626"}
naucse-render = {git = "https://github.com/lubojr/naucse_render.git", editable = true, ref = "f7b93eb979f119a02f8a532892c8ef381e01477f"}
pygments-pytest = "*"

[requires]
python_version = "3.6"
